* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', monospace;
}

.navbar {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.14rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

/* RIDDHI */
#navbar__logo{
    background-color: #fff;
    background-image: linear-gradient(to top, #60C2C1 0%, #60C2C1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links{
    color: #60C2C1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 6rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    width: 100%;
}

/* Contact Me Button */
.button {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   padding: 10px 2pc;
   height: 100%;
   width: 100%;
   border: none;
   outline: none;
   border-radius: 4px;
   background: #77cfce;
   color: #fff;
}

.button:hover {
    background: #A8E6B5;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #A8E6B5;
    transition: all 0.3s ease;
}

@media screen and (max-width: 500px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #fff;
    }

    .navbar__menu.active {
        background: #fff;
        top: 70%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.14rem;
    }

    #navbar__logo {
        padding-left: 20px;
        font-family: 'Kumbh Sans', monospace;
        font-weight: 900;
    }

    .navbar__toggle .bar {
        width: 25px; 
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #60C2C1;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 1rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        margin: 0;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* Hero Section CSS */
.main {
    background-color: #F1F1F1;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #F1F1F1;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

/* Welcome to Riddhi's Space */
.main__content h1 {
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #86D4D3 0%, #86D4D3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main__content p{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 0;
    color: #A4A4A4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #86D4D3 0%, #86D4D3 100%);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    color: #fff;
    margin-top: 1.5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none; 
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #A8E6B5;
    transition: all 0.35s;
    border-radius: 50px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}


#main__img {
    height: 80%;
    width: 60%;
}

.scene {
    padding: 20;
    margin: 20;
    width: 90vh;
    height: 27vh;
}

/* Mobile Responsive */
@media screen and (max-width: 500px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 80vh;
    }

    .main__content {
        position: absolute;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        left: 5px;
        top: 100px;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .scene {
        padding: 20;
        margin: 20;
        position: absolute;
        left: -200px;
        bottom: 5px;
        width: 70vh;
        height: 30vh;
    }
}

@media screen and (max-width: 500px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.2rem;
    }
    
    .main__btn {
        padding: 12px 36px;
    }

    .scene {
        padding: 20;
        margin: 20;
        position: absolute;
        left: -200px;
        bottom: -20px;
        width: 70vh;
        height: 30vh;
    }
}

/* Services Section CSS */
.services {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 2rem;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    background-image: linear-gradient(to top, #F1F1F1 0%, #F1F1F1 100%);
    background-size: cover;
    position: relative; 
    color: #60C2C1;
}

.services h2 {
    position: absolute;
    top: 80px;
    left: 28px;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.services__card p {
    position: absolute;
    color: #A4A4A4;
    top: 110px;
    left: 28px;
    margin-right: 25px;
    font-size: 0.85rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.services h4 {
    position: absolute;
    top: 200px;
    left: 28px;
    font-size: 2rem;
    color: rgb(216, 215, 215);
    font-weight: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.services h3 {
    position: absolute;
    top: 250px;
    left: 28px;
    font-size: 0.8rem;
    color: #A4A4A4;
    font-weight: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.services__card button {
    color: #fff;
    padding: 20px 20px;
    border: none;
    outline: none;
    border-radius: 100px;
    background: #a4e2e1;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card button:hover {
    background: #A8E6B5;
    transition: all 0.3s ease;
}

.main__img-container {
    text-align: center;
}

#main__img {
    position: absolute;
    left: 2px;
    top: 3px;
    height: 90%;
    width: 90%;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .services {
        height: 1600px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 500px) {
    .services {
        height: 1400px;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;
    }
}

/* Footer CSS */
.footer__container {
    background-color: #F1F1F1;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #60C2C1;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
}

/* Social Icons */
.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 10px auto 0 auto;
}
.website__rights {
    color: #A4A4A4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 500px) {
    #footer__logo {
        margin-bottom: 0.7rem;
        font-family: 'Kumbh Sans', monospace;
        font-weight: 900;
    }

    .website__rights {
        margin-top: 0.1rem;
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 1rem;
    }

    .footer__link-wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
}